@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 247, 247, 247;
  --background-start-rgb: 15, 19, 27;
  --background-end-rgb: 15, 19, 27;
  --primary: #e57f1b;
  --secondary: #f2e8da;
  --text-light: #f7f7f7;
  --text-dark: #1b1f23;
  --charcoal: #0f131b;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.bg-grid-white {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}
